.banner {
    background-image: url("../../../../assets/img/home.jpg");
    background-repeat: no-repeat;
    background-position: 43% 73%;
    height: 350px;
    margin-bottom: 4%;
}

.contenedor {
    background-color: white;
    width: 750px;
    height: 190px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px rgb(179, 179, 179);
}

.selector {
    margin: 37px;
    margin-left: 50px;
    align-content: center;
}

.buscador {
    display: flex;
    align-content: center;
}

.container {
    margin-top: 180px;
}

.container>div {
    height: 250px;
}

.container>div>h2 {
    color: rgb(100, 100, 100);
}
.inmo {
  margin-top: 30%;
  margin-bottom: 2%;
}
.prop {
  margin-top: 7%;
  margin-bottom: 2%;
}
