<div class="viviendas">
    <mat-card class="example-card">
        <a href="#" [routerLink]="['/vivienda', viviendaInput.id]"><img class="carta-imagen"
                [src]="viviendaInput.avatarVivienda" alt="Imagen de la vivienda"></a>

        <!--[src]="viviendaInput.avatarVivienda"-->
        <div class="contenido">
            <div class="inmo">
                <mat-card-title class="reparto"> <a href="#" [routerLink]="['/vivienda', viviendaInput.id]" style="text-decoration:none; color: black;"> {{viviendaInput.precio |currency}} €</a></mat-card-title> 
                <a href="#" [routerLink]="['/vivienda', viviendaInput.id]"><img class="reparto" [src]="viviendaInput.avatarPropietario" width="50px" alt=""></a>
            </div>
            <mat-card-subtitle>{{viviendaInput.tipo}}, {{viviendaInput.estado}}</mat-card-subtitle>
            <mat-card-content>
                <div class="inmo">
                    <p>{{viviendaInput.poblacion}}, {{viviendaInput.provincia}}</p> <button mat-button color="primary">
                        {{viviendaInput.intereses}} Favoritos</button>

                </div>
                <p>Código postal: {{viviendaInput.codigoPostal}}</p>
                <div class="alineamiento">
                    <p class="descripcion">{{viviendaInput.descripcion}} </p> <a href="#"
                        [routerLink]="['/vivienda', viviendaInput.id]">Leer más</a>
                </div>
            </mat-card-content>
            <div class="iconos">
                <mat-icon aria-hidden="false" aria-label="Example home icon"><span class="material-icons-outlined">
                        fullscreen</span> </mat-icon>
                <p>{{viviendaInput.metrosCuadrados}} m² </p>
                <mat-icon aria-hidden="false" aria-label="Example home icon"><span class="material-icons-outlined">
                        bed</span> </mat-icon>
                <p> {{viviendaInput.numHabitaciones}} Habitaciones</p>
                <mat-icon aria-hidden="false" aria-label="Example home icon"><span class="material-icons-outlined">
                        shower</span> </mat-icon>
                <p> {{viviendaInput.numBanyos}} Baños</p>
            </div>
            <mat-card-actions class="botones">
                <button mat-stroked-button color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">call</mat-icon>
                    {{viviendaInput.telefono}}
                </button>
                <button mat-raised-button color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon> Contacta
                </button>
                <button mat-button color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon> Favorito
                </button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>