.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.example-container {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

mat-form-field {
    width: 380px;
}

.login {
    margin-top: 10px;
}