<mat-dialog-content class="dialogo">
    <h1>¿Seguro que quieres eliminar este perfil?</h1>
    <p>Si desea continuar escribe "Entiendo las consecuencias, eliminar perfil"</p>
    <mat-form-field appearance="outline">
      <mat-label>Texto de confirmación</mat-label>
      <input (keydown)="verificar()" matInput placeholder="Texto de confirmación" name="texto" [(ngModel)]="texto">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngIf="b" mat-dialog-close mat-raised-button class="bg-danger text-white" (click)="delete()" onClick="history.go(0)">Entiendo las consecuencias, eliminar propietario</button>
  </mat-dialog-actions>